dist: bionic

language: generic

cache:
  pip: false
  directories:
  - "$HOME/db/"

env:
  global:
  - GIT_NAME: Spirillen
  - GIT_EMAIL: 44526987+spirillen@users.noreply.github.com
  - secure: s2pGoOKhtxbI0TBrhuM1tGPk6c14GITgBPrL41cn8nRDljYp7H8VDngS8pnXV1A+bLN0Y2rnCJ8yp6MljkclChocvqvS05N+uxT2HfHg142Yvm1xKs+GM2mjuAAZRjNFNM7y2MyM+LMTqF1cN5w2p5sKMpcaS6rYKz8fnKu+e15llMnWKCfKYyJ8DUuvXS5Rsc6ZtesCtN/4ol44hrWIlA9ogeejaj4/foYAmK1YWUg48Wy+5mjso644mBJNdWSNSBMrX/DaLJogFroqrrnYZ++1Rjyn0oq3IuqEU61vZ33bztLr6kMW2kDITSxMLV1VGmZw57FDZyXnCzK2iz1xaQLf6ccHx8rHSxxS7o0GGUCAOw7Ydrdy2x+KmYtr7PRyL2CfjgFZMdN/4MtWuJofXymyMl+aC+7s9diTfpErKDUInI2RbvFzBaHxQl3jS0S4bGQnDFCjsF04ZkBrs6BBDAtWu+vvIREhNAufrmL5nh/NcECbpHy2qXCoauZW1NE9/SuvH0ZSOT1HoQyylYKbjqLHNC4UPedMX14mq5mJPC/XHsJgGqYyiV6X57d88esEpCzey1yV68PwRJtPqDb1XNTiFkaqmpIPhpBzwmeRuuT0wZQWC+87j8c2A/xTPM2ScRhhb8GRXIDR0QpuquVXvfD66GV9Y4uRn5k20S4okEI=
  - TRAVIS_REPO_SLUG: "${TRAVIS_REPO_SLUG}"
  - GIT_BRANCH: "${TRAVIS_BRANCH}"
  - TZ: UTC
  - PYTHON_VERSION: 3.8.5
  - SCRIPT_SOURCE_URI: 'https://raw.githubusercontent.com/dns-test/script-hub/master'
  - Pyfunceble_version: 'PyFunceble@raw2sqlalchemy'
  - PYFUNCEBLE_CONFIG_DIR: "${TRAVIS_BUILD_DIR}/.pyfunceble/"
  - PYFUNCEBLE_OUTPUT_LOCATION: "${TRAVIS_BUILD_DIR}/.pyfunceble/"
  - PYFUNCEBLE_AUTO_CONFIGURATION: yes
  - PYFUNCEBLE_DB_CHARSET="${DB_CHARSET}"
  - PYFUNCEBLE_DB_HOST="${DB_HOST}"
  - PYFUNCEBLE_DB_NAME="${DB_NAME}"
  - PYFUNCEBLE_DB_USERNAME="${DB_USERNAME}"
  - PYFUNCEBLE_DB_PASSWORD="${DB_PASSWORD}"
  - PYFUNCEBLE_DB_PORT="${DB_PORT}"

# We needs the mariadb client...
#addons:
#  mariadb: '10.5'

install:
  - export PATH="${HOME}/miniconda/bin:${PATH}"
  - if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh; else wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh; fi
  - bash miniconda.sh -b -p ${HOME}/miniconda
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda config --add channels conda-forge
  - conda update -q conda
  - conda create -q -n test-environment python="${PYTHON_VERSION}"
  - source activate test-environment
  - python --version --version
  - pip --version
  - conda --version
  - pip install --no-cache-dir -U dnspython[dnssec,idna]
  - pip install --no-cache-dir -U "git+https://github.com/funilrys/${Pyfunceble_version}"
  - pyfunceble --version
  - wget -O "${TRAVIS_BUILD_DIR}/setup_travis.sh"
    "${SCRIPT_SOURCE_URI}/travis/setup_travis.sh" &&
    sudo chmod +x "${TRAVIS_BUILD_DIR}/setup_travis.sh"
  - sudo bash "${TRAVIS_BUILD_DIR}/setup_travis.sh"

git:
  depth: 2

script:
  - bash "${TRAVIS_BUILD_DIR}/dns-test.sh"
  - truncate -s 0 "${TRAVIS_BUILD_DIR}/run_id"
  - echo "${TRAVIS_JOB_ID}" > "${TRAVIS_BUILD_DIR}/run_id"
  - cat "${TRAVIS_BUILD_DIR}/run_id"
